name: lacework-admission-controller

# Configuration
logger:
  debug: true

admission:
  tls_port: 8443
  cert_file_path: "/certs/admission.crt"
  cert_key_path: "/certs/admission.key"
  # It is highly recommended that all resources except `Pod` are excluded from scans.
  # All other resources may spawn multiple child resources,
  # and you will need to exclude all of these if you want to prevent excessive scanning during the deployment.
  excluded_resources:
    - "Deployment"
    - "ReplicaSet"
    - "DaemonSet"
    - "Job"
    - "CronJob"
    - "StatefulSet"

policy:
  block_exec: false
  bypass_scope: "kube-system,kube-public,lacework,lacework-dev"

scanner:
  server: "lacework-proxy-scanner"
  namespace: "lacework"
  skipVerify: true
  caCert:
  timeout: 30
  defaultRegistry: index.docker.io
  blockOnError: false

# Kubernetes
nameOverride: "lacework-admission-controller"
fullnameOverride: "lacework-admission-controller"

# [Optional] Kubernetes cluster name
# https://support.lacework.com/hc/en-us/articles/360005263034-Deploy-on-Kubernetes
kubernetesCluster:

serviceAccount:
  name: lacework-admission-sa

certs:
  secret_name: # optional, name of kubernetes secret containing the cert
  name: lacework-admission-certs
  serverCertificate:
  serverKey:

webhooks:
  caBundle:
  failurePolicy: Ignore
  timeoutSeconds: 30

podAnnotations: {}
#  my-annotation-key: my value; more value

securityContext:
  runAsUser: 11431
  runAsGroup: 11433
  fsGroup: 11433
container_securityContext: {}

resources:
  {}
  # requests:
  #   cpu: 250m
  #   memory: 0.2Gi
  # limits:
  #   cpu: 500m
#   memory: 1.5Gi

nodeSelector: {}

deployment:
  image: lacework/lacework-admission-controller
  tag: 0.24.0
  pullPolicy: Always
  # [Optional] imagePullSecrets.
  # https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  # imagePullSecrets:
  #   - name: CustomerRegistrKeySecretName
  replicaCount: 1
  service:
    port: 8443

proxy-scanner:
  fullnameOverride: lacework-proxy-scanner
  enabled: true

  logLevel: "info"

  resources: {}

  replicaCount: 1
  image: lacework/lacework-proxy-scanner
  tag: 0.24.0
  pullPolicy: Always
  # [Optional] imagePullSecrets.
  # https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  # imagePullSecrets:
  #   - name: CustomerRegistrKeySecretName

  config:
    default_registry:
    static_cache_location: /opt/lacework
    scan_public_registries: true
    # [optional] Location to cache the sbom so future scan requests will use the cached sbom for vulnerability scans
    manifest_cache_location_beta:
    lacework:
      account_name:
      integration_access_token:
    #    registry_secret_name:
    registries:
  #      - domain:
  #        name:
  #        ssl:
  #        type:
  #        auto_poll:
  #        is_public:
  #        auth_type:
  #        auth_header_name: Authorization
  #        credentials:
  #          user_name:
  #          password:
  #        notification_type:
  #        poll_frequency_minutes: 20
  #        disable_non_os_package_scanning: false
  #        go_binary_scanning:
  #          enable: false
  #          scan_directory_path: ""

  certs:
    skipCert: true
    serverCertificate:
    serverKey:
