{{- if (.Values.datacollector).enable -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: lacework-config
  namespace: {{ .Release.Namespace }}          
  labels:
    tier: monitoring
    app: {{ include "lacework-agent.name" . }}
    {{- with (.Values.laceworkConfig).labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with (.Values.laceworkConfig).annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
data:
  config.json: |
    {"autoupgrade": "{{ required "A value for autoupgrade is required" (.Values.laceworkConfig).autoUpgrade }}",
      {{- with (.Values.laceworkConfig).anonymizeIncoming }}
        {{- if .netmask }}
     "AnonymizeIncoming": {"netmask": "{{ .netmask }}"},
        {{- end }}
      {{- end }}
     {{- with (.Values.laceworkConfig).cmdlinefilter }}
       {{- if or .allow .disallow }}
       "cmdlinefilter": {
         {{- if and .allow .disallow }}
         "allow": "{{- .allow }}",
         "disallow": "{{- .disallow }}"
         {{- else if .allow }}
         "allow": "{{- .allow }}"
         {{- else if .disallow }}
         "disallow": "{{- .disallow }}"
         {{- end }}
       },
       {{- end }}
     {{- end }}
     {{- with (.Values.laceworkConfig).codeaware }}
       {{- if or (eq (toString .enable) "true") (eq (toString .enable) "all") }}
        "codeaware": {
          "enable": "all"
        },
       {{- else if or (eq (toString .enable) "experimental") (eq (toString .enable) "false") }}
        "codeaware": {
          "enable": {{ quote .enable }}
        },
       {{- end }}
     {{- end }}
     {{- if (.Values.laceworkConfig).containerEngineEndpoint }}
     "containerengineendpoint": "{{- (.Values.laceworkConfig).containerEngineEndpoint }}",
     {{- end }}
     {{- if (.Values.laceworkConfig).containerRuntime }}
     "containerruntime": "{{- (.Values.laceworkConfig).containerRuntime }}",
     {{- end }}
     {{- with (.Values.laceworkConfig).ebpf }}
       {{- if or (kindIs "float64" .shortlivedmsecs) (kindIs "int64" .shortlivedmsecs) }}
        "ebpf": {
          "shortlivedmsecs": "{{ .shortlivedmsecs }}"
        },
       {{- end }}
     {{- end }}
     {{- with (.Values.laceworkConfig).fim }}
     {{- if (kindIs "bool" .enable) }}
       {{- if .enable }}
     "fim": {
             {{- if or (kindIs "float64" .coolingPeriod) (kindIs "int64" .coolingPeriod) }}"coolingperiod": "{{ .coolingPeriod }}", {{- end }}
             {{- if or (kindIs "float64" .crawlInterval) (kindIs "int64" .crawlInterval) }}"crawlinterval": "{{ .crawlInterval }}", {{- end }}
             {{- if .fileIgnore }}"fileignore": {{ mustToJson .fileIgnore }}, {{- end }}
             {{- if .filePath }}"filepath": {{ mustToJson .filePath }}, {{- end }}
             "mode": "enable"
             {{- if .noAtime }}, "noatime": "true" {{- end }}
             {{- if .runAt }}, "runat": "{{ .runAt }}" {{- end }}
     },
       {{- else }}
     "fim": {"mode": "disable"},
       {{- end }}
     {{- end }}
     {{- end }}
    {{- with (.Values.laceworkConfig).packagescan }}
    {{- if .enable }}
    "packagescan": {
      {{- if .interval }}
      "interval": "{{- .interval }}",
      {{- end }}
      "enable": "{{- .enable }}"
    },
    {{- end }}
    {{- end }}
    {{- with (.Values.laceworkConfig).procscan }}
    {{- if .enable }}
    "procscan": {
      {{- if .interval }}
      "interval": "{{- .interval }}",
      {{- end }}
      "enable": "{{- .enable }}"
    },
    {{- end }}
    {{- end }}
    {{- if kindIs "string" (.Values.laceworkConfig).perfmode }}
        "perfmode": "{{ (.Values.laceworkConfig).perfmode }}",
    {{- end }}
    {{- if (.Values.laceworkConfig).vmprovidercustom }}
      "vmprovidercustom": "{{- (.Values.laceworkConfig).vmprovidercustom }}",
    {{- end }}
{{- if (.Values.clusterAgent).enable }}
     "k8snodecollector": {
{{- if (.Values.clusterAgent).clusterType }}
             "k8sclustertype": "{{ (.Values.clusterAgent).clusterType}}",
{{- end }}
 
{{- if  not (.Values.laceworkConfig).kubernetesCluster }}
             #kubernetes cluster "{{ required "kubernetesCluster name is a required parameter" (.Values.laceworkConfig).kubernetesCluster }}
{{- end}}
             "clusterregion" : "{{ required "A clusterRegion is a required parameter" (.Values.clusterAgent).clusterRegion }}",

{{- if eq (.Values.laceworkConfig).datacollector "disable" }}
             "exclusivemode": "true",
{{- end }}
{{- if or (kindIs "int64" (.Values.laceworkConfig).k8sNodeScrapeIntervalMins) (kindIs "float64" (.Values.laceworkConfig).k8sNodeScrapeIntervalMins) }}
             "tickerfreqmins": "{{ (.Values.laceworkConfig).k8sNodeScrapeIntervalMins }}",
{{- end }}
             "state": "enabled"
     },
{{- end }}
  {{- if (.Values.laceworkConfig).proxyUrl }} "proxyurl" :"{{ (.Values.laceworkConfig).proxyUrl}}", {{- end }}
     "serverurl": "{{ (.Values.laceworkConfig).serverUrl}}",
  {{- if (.Values.laceworkConfig).metadataRequestInterval }} 
     "metadata_request_interval": "{{ (.Values.laceworkConfig).metadataRequestInterval}}",
  {{- end }}
{{- if ((.Values.cloudservice).gke).autopilot }}
     "tokens":{"AccessToken": "{{ (.Values.laceworkConfig).accessToken }}"},
     "logstdout" : "true",
{{- end }}     
  {{- with .Values.laceworkConfig }}
    "tags": { 
  {{- if .tags }}
    {{ range $key, $val := .tags }}
      "{{ $key }}": "{{ $val }}",
    {{- end }}
  {{- end }}
      "Env": "{{ .env }}"{{- if .kubernetesCluster }},
      "KubernetesCluster" :"{{ .kubernetesCluster}}"
    {{- end }}
    }
  {{- end }}
    }
{{- end }}
